<!--
			=============================================
				Theme Main Banner
			==============================================
			-->

			<div id="banner" class="homeOne-banner">
                <div class="rev_slider_wrapper">
                 <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
                 <div id="theme-main-banner-two" class="rev_slider" data-version="5.0.7">
                     <ul>

                                 <!-- SLIDE1  -->
                         <li data-index="rs-280" data-transition="zoomout" data-slotamount="default"    data-rotate="0"  data-saveperformance="off"  data-title="01" data-description="">
                                     <!-- MAIN IMAGE -->
                             <img src="assets/images/tile-flooring.jpg"  alt="image"  class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                             <!-- LAYERS -->
                             <!-- LAYER NR. 1 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-130']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
                                 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.05"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <h1>Tile & Stone <br> Flooring</h1>
                             </div>
                             <!-- LAYER NR. 2 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <p>Tile is a great flooring option for almost any room. <br> We offer a huge selection of colors, styles and patterns to fit your space.</p>
                             </div>
                             <!-- LAYER NR. 3 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['-115','-115','-115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','200']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="#" class="tran3s p-bg-color button-one">Learn More</a>
                             </div>

                             <!-- LAYER NR. 4 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['115','115','115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','270']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="service.html" class="tran3s button-two">Get A Quote</a>
                             </div>
                         </li>


                         <!-- SLIDE2  -->
                         <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"    data-thumb="assets/images/home/slide-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="02" data-description="">
                             <!-- MAIN IMAGE -->
                             <img src="assets/images/vinyl-flooring.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                             <!-- LAYERS -->
                             <!-- LAYER NR. 1 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-130']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
                                 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.05"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <h1>Vinyl, Laminate &amp; Wood <br>Flooring Options</h1>
                             </div>
                             <!-- LAYER NR. 2 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <p>Flooring &amp; Tiles has been a presence on the international market since 1962 and is part of <br> the Gruppo Concorde, the largest ceramic group in Europe.</p>
                             </div>
                             <!-- LAYER NR. 3 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['-115','-115','-115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','200']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="#" class="tran3s p-bg-color button-one">Get Creative</a>
                             </div>

                             <!-- LAYER NR. 4 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['115','115','115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','270']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="service.html" class="tran3s button-two">Get Services</a>
                             </div>
                         </li>


                         <!-- SLIDE3  -->
                         <li data-index="rs-20" data-transition="zoomin" data-slotamount="7"    data-thumb="assets/images/home/slide-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="03" data-description="">
                             <!-- MAIN IMAGE -->
                             <img src="assets/images/epoxy-flooring.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                             <!-- LAYERS -->
                             <!-- LAYER NR. 1 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-130']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
                                 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                                 data-start="500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.05"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <h1>Residential &amp; Commercial <br>Epoxy Flooring</h1>
                             </div>
                             <!-- LAYER NR. 2 -->
                             <div class="tp-caption text-center"
                                 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 6;">
                                 <p>Flooring &amp; Tiles has been a presence on the international market since 1962 and is part of <br> the Gruppo Concorde, the largest ceramic group in Europe.</p>
                             </div>
                             <!-- LAYER NR. 3 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['-115','-115','-115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','200']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="#" class="tran3s p-bg-color button-one">Get Creative</a>
                             </div>

                             <!-- LAYER NR. 4 -->
                             <div class="tp-caption"
                                 data-x="['center','center','center','center']" data-hoffset="['115','115','115','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['240','240','240','270']"
                                 data-transform_idle="o:1;"
                                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
                                 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
                                 data-start="1500" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-responsive_offset="on">
                                 <a href="service.html" class="tran3s button-two">Get Services</a>
                             </div>
                         </li>
                     </ul>
                 </div>
             </div><!-- END REVOLUTION SLIDER -->
            </div> <!--  /#banner -->