			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			<div class="bottom-banner">
				<div class="container">
					<ul class="row">
						<li>
							<div>
								<i class="flaticon-technology"></i>
								<h6>Contact info</h6>
								<p>(801) 979-6902 <br>info@utahfloordesign.com</p>
							</div>
						</li>
						<li>
							<div>
								<a href="#" class="tran3s">
									<h6>Request A Quote</h6>
									<p>We Offer Free Estimates On All Projects!</p>
								</a>
							</div>
						</li>
						<li>
							<div>
								<i class="flaticon-location-1"></i>
								<h6>Location</h6>
								<p>Serving All Of Utah <br>And Parts Of Idaho</p>
							</div>
						</li>
					</ul>
				</div> 
			</div> 
			

			
			<footer>
				<div class="container">
					<div class="top-footer row">
						<div class="col-md-5 col-sm-8 col-xs-12 footer-logo">
							<a href="#"><img src="/assets/images/logo.png" alt="Logo"></a>
							<p>Right Flooring has developed not only the best hardwood floors on the market, but also the healthiest and most sustainable. Choose your Mercier hardwood floor from among more than 2,000 possibilities to add style and character to your home.</p>
							<ul>
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
							</ul>
						</div> <!-- /.footer-logo -->

						<div class="col-md-3 col-sm-4 col-xs-12 footer-list">
							<h6>FLOORING PRODUCTS</h6>
							<ul>
								<li><a href="index.html" class="tran3s">Carpet</a></li>
								<li><a href="" class="tran3s">Hardwood</a></li>
								<li><a href="" class="tran3s">Tile</a></li>
								<li><a href="faq.html" class="tran3s">Laminate</a></li>
								<li><a href="about-us.html" class="tran3s">Luxury Vinyl</a></li>
								<li><a href="blog-grid.html" class="tran3s">Rugs</a></li>
							</ul>
						</div> <!-- /.footer-list -->

						<div class="col-md-4 col-xs-12 newsletter">
							<h6>Newsletter</h6>
							<form action="#">
								<input type="text" placeholder="Name">
								<input type="email" placeholder="Email">
								<button class="tran3 p-bg-color theme-button hvr-float-shadow">SUBSCRIBE  Now</button>
							</form>
						</div> <!-- /.newsletter -->
					</div> <!-- /.top-footer -->
				</div> <!-- /.container -->

				<div class="bottom-footer">
					<div class="container">
						<p class="float-left">Copyright &copy; 2020 Utah Floor Design. All Rights Reserved.</p>
						<ul class="float-right">
							<li><a href="/about" class="tran3s">About</a></li>
							<li>|</li>
							<li><a href="/contact" class="tran3s">Contact</a></li>
							<li>|</li>
							<li><a href="/sitemap.xml" class="tran3s">Sitemap</a></li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.bottom-footer -->
			</footer>


	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-bg-color">
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
			</button>