<body>
    <div class="main-page-wrapper">


        <header class="theme-main-header bg-color">
            <div class="container">
               <div class="theme-main-menu">
                       <div class="clearfix">
                           <div class="logo float-left"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></div>
                           <nav id="mega-menu-holder" class="float-right">
                           <ul class="clearfix">
                              <li class="active"><a href="index.html">Home</a>
                                  <ul class="dropdown">
                                    <li><a href="index.html">Home Version One</a></li>
                                    <li><a href="index-2.html">Home Version Two</a></li>
                                 </ul>
                              </li>
                              <li><a href="#">Projects</a>
                                  <ul class="dropdown">
                                    <li><a href="project-v1.html">Project version one</a></li>
                                    <li><a href="project-v2.html">project Version Two</a></li>
                                    <li><a href="project-v3.html">Project version Three</a></li>
                                    <li><a href="project-v4.html">project Version Four</a></li>
                                    <li><a href="project-v5.html">project Version Five</a></li>
                                    <li><a href="project-details.html">project Details</a></li>
                                 </ul>
                              </li>
                              <li><a href="#">Services</a>
                                  <ul class="dropdown">
                                    <li><a href="service.html">Tile</a></li>
                                    <li><a href="service-details.html">Stone</a></li>
                                    <li><a href="service-details.html">Laminate</a></li>
                                    <li><a href="service-details.html">Vinyl</a></li>
                                    <li><a href="service-details.html">Wood</a></li>
                                    <li><a href="service-details.html">Garage Floor Coatings</a></li>
                                    <li><a href="service-details.html">Epoxy</a></li>
                                    <li><a href="service-details.html">Polished Concrete</a></li>
               
                                 </ul>
                              </li>
                              <li><a href="#">About us</a>
                                  <ul class="dropdown">
                                    <li><a href="about-us-v1.html">About us version one</a></li>
                                    <li><a href="about-us-v2.html">About us version Two</a></li>
                                 </ul>
                              </li>
                              <li><a href="#">Blogs</a>
                                  <ul class="dropdown">
                                    <li><a href="blog-v1.html">Blog grid</a></li>
                                    <li><a href="blog-v2.html">Blog Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                 </ul>
                              </li>
                              <li class="last"><a href="contact-us.html">contact us</a></li>
                           </ul>
                        </nav> 
                       </div>
               </div> 
            </div> 
        </header>