<body>
    <div class="main-page-wrapper">


        <header class="theme-main-header bg-color">
            <div class="container">
               <div class="theme-main-menu">
                       <div class="clearfix">
                           <div class="logo float-left"><a href="/"><img src="/assets/images/logo.png" alt=""></a></div>
                           <nav id="mega-menu-holder" class="float-right">
                           <ul class="clearfix">
                              <li><a href="/">Home</a></li>
                              <li><a href="/our-work">Our Work</a></li>
                              <li><a href="/services">Services</a>
                                  <ul class="dropdown">
                                    <li><a href="service.html">Tile</a></li>
                                    <li><a href="service-details.html">Stone</a></li>
                                    <li><a href="service-details.html">Laminate</a></li>
                                    <li><a href="service-details.html">Vinyl</a></li>
                                    <li><a href="service-details.html">Wood</a></li>
                                    <li><a href="service-details.html">Garage Floor Coatings</a></li>
                                    <li><a href="service-details.html">Epoxy</a></li>
                                    <li><a href="service-details.html">Polished Concrete</a></li>
               
                                 </ul>
                              </li>
                              <li><a href="/about">About us</a>
                                  <ul class="dropdown">
                                    <li><a href="/blog">Blog</a></li>
                                 </ul>
                              </li>
                              <li class="last"><a href="/contact">contact us</a></li>
                           </ul>
                        </nav> 
                       </div>
               </div> 
            </div> 
        </header>